<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Customized CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Image reference for title-->
    <link rel="shortcut icon" href="assets/finalAsset.png" />
    <title>Kalekey's&reg;</title>
</head>

<body>

    <!-- Navigation bar-->
    <nav class="navbar fixed-top navbar-light nav justify-content-center" style=" background: #23c979f7;">
        <div class="container-fluid"></div>
        <a class="navbar-brand">  <img src="./assets/finalAsset.png" width="50" height="50" alt=""></a>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link active text-dark " href="#">Home</a> </li>
            <li class="nav-item"><a class="nav-link text-dark" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="#">Blog</a></li>
        </ul>
        </div>
    </nav>


    <!-- first row -->
    <div class="row1">
        <div class="rowbackground">
            <div class="feature_content">
                <p>Featured Dish</p>
                <h1>Tofu Eggs</h1>
                <a href="#"><button type="button" class="btn">Learn About Kalekey</button></a>
            </div>
        </div>
    </div>

    <!-- Div for food cards -->
    <div class="card-row">

        <div class="row justify-content-center">

            <div class="card">
                <img src="./assets/stirfry.jpg" alt="stirfry" style="width:100%" class="img">
                <div class="container">
                    <h4><b>Breakfast</b></h4>
                    <p>Vegan Chicken Stir Fry</p>
                </div>
            </div>

            <div class="card">
                    <img src="./assets/stirfry.jpg" alt="stirfry" style="width:100%" class="img">
                    <div class="container">
                        <h4><b>Lunch</b></h4>
                        <p>Vegan Chicken Stir Fry</p>
                    </div>
                </div>

            <div class="card">
                    <img src="./assets/stirfry.jpg" alt="stirfry" style="width:100%" class="img">
                    <div class="container">
                        <h4><b>Dinner</b></h4>
                        <p>Vegan Chicken Stir Fry</p>
                    </div>
                </div>
            

        </div>
    </div>
































    <!-- Carousel/slideshow bar built with w3school -->
    <!-- <div id="myC" class="carousel silde" data-ride="carousel"> -->
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"> </li>
            <li data-target="#myCarousel" data-slide-to="1"> </li>
            <li data-target="#myCarousel" data-slide-to="2"> </li>
        </ol> -->

    <!-- wrapper for slides  -->
    <!-- <div class="carousel-inner">
            <div class="item-active">
                <img class="d-block w-100" src="./assets/tofu.jpg" alt="Tofu Eggs">
                <div class="carousel-caption">
                    <h3>Featured Dish</h3>
                    <p>Vegan Tofu Eggs</p>
                </div>
            </div> -->


    <!-- <div class="item"> -->
    <!-- <img src="./assets/kale.jpg" alt="Kale"> -->
    <!-- <div class="carousel-caption">
                    <h3>Featured Dish</h3>
                    <p>Chicken Kale Salad</p>
                </div>
            </div> -->

    <!-- <div class="item"> -->
    <!-- <img src="./assets/stirfry.jpg" alt="Kale"> -->
    <!-- <div class="carousel-caption">
                    <h3>Featured Dish</h3>
                    <p>Spicy Veggie Stir Fry</p>
                </div>
            </div>
        </div> -->

    <!-- Left and right controls -->

    <!-- <a class="left carousel-control" href="#myCarousel"  role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> -->



    <!-- <div class="row2">
        <div class=rowbackground2>
            <h3 class='kale'> Lunch: Chicken Kale Salad</h3>

            <p>Ingredients:</p>
            <ul>
                <li>Bag of Kale</li>
                <li>Olive Oil</li>
                <li>Garlic</li>
                <li>Soy Sauce/Liquid Aminos Sauce</li>
                <li>Cayenne Pepper</li>
                <li>Onion</li>
                <li>Tomatoes</li>
                <li>Vegetarian Chicken Strips</li>
                <li>**Prince Dressing (Optional)</li>
            </ul>
            </br>
            <ol class="kale-steps">
                <li>Finely chop the kale,tomatoes, and onion </li>
                <li>Add to big mixing bowl with olive oil, garlic, cayenne, and liquid aminos </li>
                <li>Fry and chop up chicken strips</li>
                <li>Add to meat to bowl and finish it off with prince dressing meat</li>
            </ol>
        </div>
    </div>


    <div class="row3">

        <div class="rowbackground3">
            <h3 class='stir'> Dinner: Chicken/Seitan Stir Fry</h3>

            <p>Ingredients:</p>
            <ul>
                <li>1 bag of Broccoli</li>
                <li>Brown rice or 1 pack of Noodles</li>
                <li>Basil</li>
                <li>Garlic</li>
                <li>Soy Sauce</li>
                <li>Bag of Kale</li>
                <li>Cayenne Pepper</li>
                <li>Oregano</li>
                <li>Onion</li>
                <li>Tomatoes</li>
                <li>Mixed Peppers</li>
                <li>Veggie Chicken or Seitan Strips</li>
            </ul>
            </br>
            <ol class="stirfry-steps">
                <li>Cut up mix peppers, broccoli, kale, onion, and tomatoes</li>
                <li>In a large skillet add prepped veggies with olive oil, garlic, and cayenne and cook slow (10-15
                    mins)
                </li>
                <li>Add basil, oregano, and say sauce and let veggies sit</li>
                <li>Fry vegetarian meat of choice </li>
                <li>Cut up and add to stir fry</li>
                <li>Lastly, serve with your choice of brown rice or noodles</li>

            </ol>
        </div>
    </div>  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>