<html>

<head>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="shortcut icon" href="assets/finalAsset.png" />
    <title>Kalekey's&reg; | Login </title>

</head>

<body>
    <div class="form-align">
    <form method="post" action="/signin">
        <div class="img-container">
        <img src="assets/finalAsset.png" alt="logo"  width="150" height="150">
        </div>

        <div class="container">
      
            <input id="login-username" type="text" placeholder="Username" name="username" />


            
            <input id="login-password" type="password" placeholder="Password" name="password" />
            <button type="Submit">Log In</button>

        </div>
    </form>
    </div>








    <!-- 
  {% comment %} <div class="formgroup">
    <h3>Log out</h3>
    <form method="post" action="/logout">
      <input type="Submit" value="Log out" />
    </form>
  </div> {% endcomment %} -->
</body>

</html>